@import "../../../styles/abstract/_mixins";

.contact-links {
    display: flex;
    justify-content: center;

    &__icon {
        height: remcalc(32);
        width: remcalc(32);
        display: block;
        margin: 0 remcalc(6);
        background-repeat: no-repeat;
        background-size: remcalc(32) remcalc(32);
    }
    &__git {
        background-image: url("../../../assets/github.svg")
    }
    &__linkedin {
        background-image: url("../../../assets/linkedin.svg");
    }
    &__email {
        background-image: url("../../../assets/mail.svg");
    }
}
